<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.optic.LZCTransportaConductor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LZCTransportaConductor"
        tools:targetApi="31" >

        <receiver android:name="com.optic.LZCTransportaConductor.receivers.AcceptReceiver"
                    android:enabled="true" />

        <receiver android:name="com.optic.LZCTransportaConductor.receivers.CancelReceiver"
                    android:enabled="true" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.HistoriesDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.HistoriesActivity"
            android:exported="false"
            android:parentActivityName="com.optic.LZCTransportaConductor.activities.MapActivity" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.CalificationClientActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.MapTripActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.MapActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.optic.LZCTransportaConductor.activities.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCEB44IRhVq6rs7RaUJD_580lEJhe5aAlA" />

        <service
            android:name="com.optic.LZCTransportaConductor.services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>